<h1>LifeSkills R Us</h1>
<h2>Current Courses</h2>

<% @courses.each do |course| %>
  <li> <a href="/courses/<%=course.slug%>"><%=course.title%></a> - <%=course.teacher.name%> - <%=course.time%> - <%=course.room%></li>

<%end%>
