<h1>LifeSkills R Us</h1>
<h2>Current Courses</h2>

<% @courses.each do |course| %>
  <li> <a href="/courses/<%=course.slug%>"><%=course.title%> - <%=course.teacher.name%> - <%=course.time%> - <%=course.duration%> hr</a></li>

<%end%>
<br></br>
<a href="/courses/new">Create Course</a>&nbsp  &nbsp<a href="/logout">LogOut</a>
