logged in as: <%=current_user.username%>
<h2><%=@course.title%></h2>

<p>Instructor: <%=@course.teacher.name%></p>
<p>Time: <%=@course.time%>, <%=@course.duration%> hr</p>

<% if current_user.id == @course.teacher_id %>
<form method="post" action="/courses/<%=@course.slug%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Course">
</form>

<a href="/courses/<%=@course.slug%>/edit"> Edit Course </a>
<% end %>
